<div class="bannercalendrier" style="background-image: url(<%= image_path('background.jpg') %>)">
  <div class="contourcalendrier">
    <br>
    <%= link_to "<Retour", root_path, :class => "linkretour" %>
    <br>
    <br>
  </div>
  <div class="linkcalendrier">
    <br>
    <br>
    <br>
    <strong><p>Pari 1 sur Zara</p></strong>
    <p>Publié le 06/06</p>
    <p>Échéance du pari : 10/06</p>
    <br>
    <strong><p>Pari 2 sur Amazon</p></strong>
    <p>Publié le 08/06</p>
    <p>Échéance du pari : 17/06</p>
    <br>
    <strong><p>Pari 3 sur Air Liquide</p></strong>
    <p>Publié le 10/06</p>
    <p>Échéance du pari : 10/06</p>
    <br>
    <strong><p>Pari 4 sur le CAC40</p></strong>
    <p>Publié le 13/06</p>
    <p>Échéance du pari : 24/06</p>
    <br>
    <strong><p>Pari 5 sur BTC et ETH</p></strong>
    <p>Publié le 15/06</p>
    <p>Échéance du pari : 22/06</p>
    <br>
    <strong><p>Pari 6 sur Fast Food</p></strong>
    <p>Publié le 19/06</p>
    <p>Échéance du pari : 24/06</p>
    <br>
    <strong><p>Pari 7 sur Tesla</p></strong>
    <p>Publié le 22/06</p>
    <p>Échéance du pari : 30/06</p>
  </div>
</div>
