<div class="bannercalendrier" style="background-image: url(<%= image_path('background.jpg') %>)">
  <div class="contourcalendrier">
    <br>
    <%= link_to "<Retour", root_path, :class => "linkretour" %>
    <br>
    <br>
  </div>
  <div class="linkcalendrier">
    <br>
    <br>
    <br>
    <strong><p>Pari 1 sur Zara</p></strong>
    <p>Publié le 06/06</p>
    <p>Échéance du pari : 10/06</p>
    <br>
    <strong><p>Pari 2 sur Amazon</p></strong>
    <p>Publié le 08/06</p>
    <p>Échéance du pari : 17/06</p>
    <br>
    <strong><p>Pari 3 sur Air Liquide</p></strong>
    <p>Publié le 10/06</p>
    <p>Échéance du pari : 10/06</p>
  </div>
</div>
