<div class="bannercalendrier" style="background-image: url(<%= image_path('background.jpg') %>)">
  <div class="contourcalendrier">
    <br>
    <%= link_to "<Retour", root_path, :class => "linkretour" %>
    <br>
    <br>
  </div>
  <div class="linkcalendrier">
    <br>
    <br>
    <br>
    <strong><p>Pari 1 sur Zara</p></strong>
    <p>Publié le 06/06</p>
    <p>La bonne réponse réponse sera publiée le 10/06</p>
  </div>
</div>
