<div class="banner" style="background-image: url(<%= image_path('background.jpg') %>)">
  <div class="container">
  <%= link_to "< Retour", root_path, :class => "link" %>
  <p>aaa aaaa aaaa</p>
  <p>aaa aaaa aaaa</p>
  <p>aaa aaaa aaaa</p>
  <p>aaa aaaa aaaa</p>
  </div>
</div>
