<div class="bannermonclassement" style="background-image: url(<%= image_path('background.jpg') %>)">
  <div class="contourmonclassement">
    <br>
    <%= link_to "<Retour", root_path, :class => "linkretour" %>
  </div>
  <br>
  <br>
  <br>
  <br>
  <pre><p><%= @users.join(", ") %></p></pre>
</div>
