<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(<%= image_path('background.jpg') %>)">
  <div class="container">
    <h1 class='mb-5'>Bienvenue sur<strong> BetStock</strong></h1>
    <p>Nous voulons démocratiser la bourse.
    <br>
    Comment ? Avec des paris gratuits et ludiques sur les marchés financiers. Chaque pari est donné avec de l'information financière afin d'éclairer le parieur dans sa décision.</p>
    <a href="http://www.facebook.com/groups/betstock/" class="btn btn-flat-first mt-5">Commencer à parier</a>
    <br>
    <br>
    <a class="link" href="mailto:hugo.ferrand98@audencia.com">Contacter l'équipe</a>
  </div>
</div>
