<div class="banner" style="background-image: url(<%= image_path('background.jpg') %>)">
  <div class="container mb-5">
    <%= link_to "Classement général", classement_path, :class => "btn btn-flat-first mt-3" %>
    <br>
    <br>
    <br>
    <a class="link" href="">Mon classement</a>
    <br>
    <br>
    <br>
    <a href="https://www.instagram.com/betstock_"><i class="fab fa-instagram fa-2xl"></i></a>

  </div>
</div>
