<div class="banner" style="background-image: url(<%= image_path('background.jpg') %>)">
  <div class="container mb-5">
    <a href="" class="btn btn-flat-first mt-3">Classement général</a>
    <br>
    <br>
    <br>
    <a class="link" href="">Mon classement</a>
  </div>
</div>
