<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(<%= image_path('background.jpg') %>)">
  <div class="container">
    <h1>Bienvenue sur<strong> BetStock</strong></h1>
    <p>Nous voulons démocratiser la bourse.</p>
    <p>Comment ? Avec des paris gratuits et ludiques sur les marchés financiers. Chaque pari est donné avec de l'information financière afin d'éclairer le parieur dans sa décision.</p>
    <%= link_to "Commencer à parier sur Facebook", "http://www.facebook.com/groups/betstock/", class: "btn btn-flat-first" %>
    <br>
    <br>
    <%= link_to "Contacter l'équipe", "http://www.linkedin.com/in/hugo-ferrand-363869140", class: "btn btn-flat-second" %>
  </div>
</div>
